<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VVGraphChartOnScroll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CED24541CC2685600F50E4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CED246B1CC2685600F50E4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CED24761CC2685700F50E4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
